[Unit]
Description=PiStomp Sync (shutdown)
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
User=pistomp
ExecStart=/usr/local/lib/pistomp-sync/pistomp-sync.sh
TimeoutStartSec=120
Environment=RCLONE_CONFIG=/home/pistomp/.config/rclone/rclone.conf

[Install]
WantedBy=shutdown.target
