[Unit]
Description=PiStomp Sync (manual / timer)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=pistomp
ExecStart=/usr/local/lib/pistomp-sync/pistomp-sync.sh
Environment=RCLONE_CONFIG=/home/pistomp/.config/rclone/rclone.conf
